#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.timer-textarea {
  resize: none;
  font-size: 30px;
  height: 35px;
  width: 60px;
  text-align: center;
  overflow: hidden;
  padding: 50px 30px;
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  border: none;
  transition: 0.5s;
}

.timer-textarea-stop {
  color: white;
}



.timer-textarea:focus {
  outline: none;
}

.colon {
  display: inline-block;
  font-weight: 900;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  transform: translateY(-57px);
  margin: 0px 10px;
}

.textarea-container {
  display: inline-block;
  border: 1px solid black;
  border-radius: 5px;
  padding: 8px;
}

.buttons {
  border: 1px solid black;
  height: 80px;
  width: 250px;
  justify-content: center;
  margin: 20px auto 0px;
}

.buttons button {
  font-size: 80px;
  background-color: white;
  margin: 10px;
  padding: 0px;
  height: 84px;
  transition: 0.1s;
  border: none;
}

.buttons button:hover {
  color: gray;
}

.buttons button:active {
  color: rgb(180, 180, 180);
}